<div class="hero_area">

  <div class="heroArea-list">
    <h1>Find the Facts</h1>
    <h4>'Survey that matters'</h4>
  </div>

</div>

<br><br>
<!-- Features heading -->
<!-- <section>
  <h1 class="text-uppercase heading" style="text-align: center;">
    Features
  </h1>
</section> -->

<!-- about section - users-->
<section class="about_section layout_padding">
  <div class="container">
    <br><br>
    <h2 class="text-uppercase heading">
      User Features
    </h2>
  </div>
  <div class="container">
    <div class="about_card-container layout_padding2-top">
      <div class="about_card">
        <div class="about-detail">
          <div class="about_img-container">
            <div class="about_img-box">
              <img src="../../assets/images/work1.png" alt="" />
            </div>
          </div>
          <div class="card_detail-ox">
            <h4>
              LOGIN
            </h4>
            <p>
              In order to answer some surveys you would first need to be logged in.
              Log in by simply going to the login page from the dropdown or <a routerLink="/user/login" routerLinkActive="active">click here</a>.
            </p>
          </div>
        </div>
      </div>
      <div class="about_card">
        <div class="about-detail">
          <div class="about_img-container">
            <div class="about_img-box">
              <img src="../../assets/images/work2.png" alt="" />
            </div>
          </div>
          <div class="card_detail-ox">
            <h4>
              TAKE SURVEY
            </h4>
            <p>
              Select your survey published by the admin and select your
              desired answer for each question.
            </p>
          </div>
        </div>
      </div>
      <div class="about_card">
        <div class="about-detail">
          <div class="about_img-container">
            <div class="about_img-box">
              <img src="../../assets/images/work3.png" alt="" />
            </div>
          </div>
          <div class="card_detail-ox">
            <h4>
              SUBMIT
            </h4>
            <p>
              After you're done with answering all the questions of
              the survey, just simply submit it using the submit button
              at the bottom of the survey.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- end about section - user -->

<!-- about section - admin -->
<section class="about_section layout_padding">
  <div class="container">
    <h2 class="text-uppercase heading">
      Admin Features
    </h2>
  </div>
  <div class="container">
    <div class="about_card-container layout_padding2-top">
      <div class="about_card">
        <div class="about-detail">
          <div class="about_img-container">
            <div class="about_img-box">
              <img src="../../assets/images/work1.png" alt="" />
            </div>
          </div>
          <div class="card_detail-ox">
            <h4>
              MANAGE USERS
            </h4>
            <p>
              Only the admin has control for adding users and giving them their
              credentials to submit a survey that the admin has created for them.
              Moreover, the admin can also edit user details and delete them if
              needed.
            </p>
          </div>
        </div>
      </div>
      <div class="about_card">
        <div class="about-detail">
          <div class="about_img-container">
            <div class="about_img-box">
              <img src="../../assets/images/work2.png" alt="" />
            </div>
          </div>
          <div class="card_detail-ox">
            <h4>
              MANAGE SURVEYS
            </h4>
            <p>
              Only the admin has control for adding surveys for users and publish
              them to all the users at the same time. Moreover, the admin can also
              edit the survey by altering the questions and/or their options.
              Once the survey gets published to the users, admin loses the control
              to edit the surveys.
            </p>
          </div>
        </div>
      </div>
      <div class="about_card">
        <div class="about-detail">
          <div class="about_img-container">
            <div class="about_img-box">
              <img src="../../assets/images/work3.png" alt="" />
            </div>
          </div>
          <div class="card_detail-ox">
            <h4>
              VIEW USER RESULTS
            </h4>
            <p>
              Once the survey has been submitted by the user, all
              the survey answers can be then viewed by the admin.
              The admin can then analyze each user's response effectively
              using our View Results tab.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- end about section - admin-->

<!-- footer section -->
<section class="container-fluid footer_section">
  <p>
    &copy; 2022 All Rights Reserved. Designed by
    <a href="https://ghe.soti.net/XSightLearningProjects/EAZY2Survey" style="color:#FF0000;">EAZY2</a>
  </p>
</section>
<!-- footer section -->

